{% extends ('base.html.twig') %}

{% block title %} Blog Posts {% endblock %}

{% block body %} 

    <div class="go-to-back-section text-center pe-2 float-end">
        <a 
            class="btn btn-sm btn-success shadow-sm" 
            href="{{ path( 'post.create' ) }}">
                Create New Post
        </a>
    </div>    

    <div class="blog-post-section">
    
        {% for post in posts %}

        <div class="card border-0" style="width: 100%">
            <div class="card-body ps-0 pr-0">
                
                <h5 class="card-title display-5">{{post.title}}</h5>

                <hr/>

                <div class="ps-5"> 

                    <p class="card-text justify-text">
                        {{post.body | slice(0, 300)}}  
                        
                        &nbsp
                        
                        <a  
                            class="text-decoration-none card-link" 
                            href="{{ path('post', { id : post.id }) }}">
                                show more . . .
                        </a>
                    </p>
                

                    <form 
                        method="POST" 
                        action="{{ path('post.delete', { id : post.id }) }}"
                        class="row row-cols-sm-auto g-1 align-items-end">
                        
                        <div class="col-3">
                            <a 
                                class="btn btn-sm btn-warning shadow-sm" 
                                href="{{ path('post.edit', { id : post.id }) }}" >
                                    Edit
                            </a>
                        </div> 

                        <div class="col-3">
                            <button 
                                type="submit" 
                                class="btn btn-sm btn-danger">
                                    Delete
                            </button>        
                        </div>

                    </form>

                </div>

            </div>
        </div>        

        {% endfor %}

    </div>

{% endblock %}
